:root {
    --main-container-width: 850px; /* larghezza dei container nel main */
    --default-space: 45px; /* margine superiore ed inferiore della maggior parte dei container */
    --blue: #0061FF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header nav {
    background-color: #FFFFFF;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul.nav-item {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
ul.nav-item li {
    display: inline-block;
    padding: 0 12px;
}
ul.nav-item li a {
    text-decoration: none;
    color: black;
}
#accedi {
    display: inline-block;
}
#li-logo {
    padding-top: 3px;
    padding-left: 5px;
}
#logo {
    display: inline-block;
    width: 115px;
}
#logo img {
    width: 100%;
}
.btn {
    display: inline-block;
    padding: 4px 12px 5px;
    cursor: pointer;
}
.btn-margin-left {
    margin-left: 10px;
}
.btn-blue {
    background-color: var(--blue);
    color: white;
}
.btn-padding {
    padding-top: 10px;
    padding-bottom: 11px;
}
.btn-padding-body {
    padding-left: 15px;
    padding-right: 15px;
}
.btn-block {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.line {
    width: 60px;
    margin-top: 20px;
    border-top: 1px solid grey;
}
#hero-header {
    background-color: #B3CFE6;
    min-height: 422px;
    width: 100%;
}
#hero-container {
    width: 100%;
    max-width: 980px;
    min-height: 376px;
    padding: var(--default-space) 0 5px;
    margin: auto;
}
#hero-container h1 {
    font-size: 50px;
    margin-bottom: 40px;
}
.wrapper {
    min-height: 224px;
    display: flex;
    flex-direction: row;
}
.item-small {
    flex-basis: 30%;
}
.item-small p {
    margin-bottom: 25px;
}
#annulla {
    display: block;
    margin-top: 25px;
    margin-bottom: 50px;
}
.icon {
    display: block;
    min-height: 24px;
    padding: 8px 0;
    margin-bottom: 4px;
}
.item-big {
    flex-basis: 70%;
    position: relative;
}
.item-big #jumbo-img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -60px;
}
main section {
    border-bottom: 1px dashed grey;
}
.main-container {
    width: 100%;
    max-width: var(--main-container-width);
    margin: var(--default-space) auto;
    border: 1px dashed black;
}
.margin-top-main {
    margin-top: 130px;
}
#business {
    margin-left: 5px;
}
#business h2 {
    font-size: 36px;
}
#business form {
    margin-top: 30px;
    margin-bottom: 30px;
}
#radio-button {
    display: inline-block;
    margin-left: 40px;
}
.subcontainer {
    display: flex;
    flex-direction: row;
}
.subcontainer-arrange {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 25px;
    padding: 10px 3px;
}
.sub-item {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px dashed black;
    margin: 5px;
}
.sub-item-title {
    text-align: center;
    padding: 10px 0;
    border: 1px solid gray;
}
.col {
    height: 100%;
}
.col-body ul {
    margin-top: 35px;
    margin-bottom: 30px;
    list-style-type: none;
}
span.text-bold {
    display: block;
    font-weight: bold;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 5px;
}
span.text-grey {
    display: block;
    font-size: small;
    color: gray;
}
div.plane {
    font-weight: bold;
    margin-top: 35px;
}
ul.ul-blue-check {
    margin-top: 25px;
    display: inline-block;
}
ul.ul-blue-check li::before {
    content: '\2714';
    display: inline-block;
    color: blue;
}
#team {
    text-align: center;
    padding: 5px;
    border: 1px dashed black;
}
#sub-left {
    flex-basis: 70%;
    height: 160px;
    border: 1px dashed black
}
#sub-right {
    flex-basis: 30%;
    height: 160px;
    border: 1px dashed black;
}
.height-sec-2 {
    min-height: 450px;
}
.height-sec-4 {
    min-height: 250px;
}
.height-sec-5 {
    min-height: 150px;
}
.height-sec-6 {
    min-height: 280px;
}
.height-auto {
    min-height: auto;
}
.sub-item2 {
    flex-basis: 30%;
    border: 1px dashed black;
    min-height: 275px;
}
#section-5 {
    min-height: 700px;
}
#foot-container {
    width: 100%;
    max-width: 980px;
    min-height: 376px;
    margin: var(--default-space) auto 20px;
    border: 1px dashed black;
}
#foot-banner {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.foot-item {
    min-height: 140px;
    flex-grow: 1;
    border: 1px dashed black;
}
.foot-item-small {
    min-height: 140px;
    flex-grow: 0.7;
    border: 1px dashed black;
}